<!-- /templates/page.products.liquid -->

<div class="products-hero-container">
  <div class="wrapper">
  	<h2>eczema care</h2>
    <h1>products</h1>
  </div>
</div>

{% include 'breadcrumb' %}

<main class="wrapper main-content basic-page">
<div class="grid-uniform">
  <div class="grid__item large--one-whole">

  {{ page.content }}

  <div class="hSpacer forty"></div>

  <div class="grid__item large--one-half">
  <img src="https://cdn.shopify.com/s/files/1/1211/7332/files/one-dollar-off-coupon.jpg?18113530343748662210" />
  </div>
  <div class="grid__item large--one-half">
  <img src="https://cdn.shopify.com/s/files/1/1211/7332/files/one-dollar-off-coupon.jpg?18113530343748662210" />
  </div>

</div>
</div>
</main>
