<!-- /templates/404.liquid -->

<section class="tw-my-9">
    <div class="tw-container tw-mx-auto xl:tw-max-w-screen-xl tw-px-5 md:tw-px-10 xl:tw-px-16 2xl:tw-px-0 tw-font-encode-sans tw-font-medium tw-text-matterhorn">
      <h1 class="tw-text-32px/40px lg:tw-font-45px/56px tw-pb-9">Page Not Found</h1>
      <p class="tw-text-22px/28px">Sorry, we couldn't find this page. Click here to go back to the <a href="/" class="tw-underline tw-text-green hover:tw-text-hover-green">home page</a> or see our list of <a href="/pages/products" class="tw-underline tw-text-green hover:tw-text-hover-green">products</a></p>
    </div>
  </section>