<section class="tw-my-20">
  <div class="tw-container tw-mx-auto xl:tw-max-w-screen-sm tw-px-5 md:tw-px-10 xl:tw-px-16 2xl:tw-px-0 tw-font-encode-sans tw-font-medium tw-text-matterhorn">
    <p class="tw-py-20 tw-text-22px/28px tw-text-center">You have successfully created your Exederm account.<br/> Please check your email for confirmation or
      <a href="/account/login" class="tw-underline tw-text-green hover:tw-text-hover-green">log in.</a>
    </p>
  </div>
</section>