 <!-- best-sellers-collection.liquid -->   
 <!-- appears on index.liquid/home page -->
    
    <div class="grid-uniform">
<div id="product-grid-box" class="grid__item large--one-quarter medium--one-half" style="margin-bottom:20px;">
  
  <a href="/collections/best-sellers/products/eczema-flare-control-cream" class="grid__image">
    <img src="//cdn.shopify.com/s/files/1/0524/5622/7007/products/25_large.jpg?v=1613686595" alt="Flare Control Cream" style="max-height:180px;">
  </a>
  
  <div id="product-grid" class="h6" style="text-align:center;">
   <a class="prod-name" href="/collections/best-sellers/products/eczema-flare-control-cream">Flare Control Cream</a>
      
    <br>
      <span class="prod-price">
        
      
        $12.99
      
   <div id="yotpo-ratings-product-grid">  
      <div class="yotpo bottomLine yotpo-small" data-appkey="XuSzc9ZFpFwg9u9hrqvF5gG6qBhWn5uXzKiMTSs7" data-domain="exederm-dev.myshopify.com" data-product-id="6210497740991" data-product-models="6210497740991" data-name="Flare Control Cream" data-url="https://exederm-dev.myshopify.com/products/eczema-flare-control-cream" data-image-url="//cdn.shopify.com/s/files/1/0524/5622/7007/products/25_large.jpg%3Fv=1613686595" data-description="<p><span style=&quot;color: #1a1aa6; font-family: monospace; font-size: medium; white-space: pre-wrap;&quot;>Hydrocortisone cream for eczema, dermatitis and sensitive skin. Parabens free. Fast healing treatment for eczema flare-ups. National Eczema Association approved for atopic eczema, contact dermatitis and seborrheic dermatitis</span></p>" data-bread-crumbs="best sellers;" style="text-align:center;" data-yotpo-element-id="1"> <div class="yotpo-display-wrapper" style="visibility: hidden;">  <div class="standalone-bottomline" data-source="default" tabindex="-1"> <div class="yotpo-bottomline pull-left  star-clickable" tabindex="0">  <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="sr-only">5.0 star rating</span> </span>  <a href="javascript:void(0)" class="text-m" aria-label="3 reviews">3 Reviews</a>   <div class="yotpo-clr"></div> </div> <div class="yotpo-clr"></div> </div>   <div class="yotpo-clr"></div> </div></div>
    </div>
    <div class="add-to-cart">
  <form action="/cart/add" method="post" id="product-form" class="quickAdd" enctype="multipart/form-data">
			
		    
			<div id="product-variants" class=" hidden" style="display:none;">
		       <select id="product-select" name="id" class="hidden">
		       
		         <option selected="selected" data-sku="2001" value="37836010455231">Default Title - $12.99</option>
		       
		       </select>
		    </div>
            <input type="submit" value="Add to Cart" id="add" class="btn add-to-cart">
      		</form> 
        </div>
  </span></div>
</div>

<div id="product-grid-box" class="grid__item large--one-quarter medium--one-half" style="margin-bottom:20px;">

  
  <a href="/collections/best-sellers/products/intensive-moisturizer" class="grid__image">
    <img src="//cdn.shopify.com/s/files/1/0524/5622/7007/products/27_large.jpg?v=1608603688" alt="Eczema Cream Moisturizer" style="max-height:180px;">
  </a>

  <div id="product-grid" class="h6" style="text-align:center;">
   <a class="prod-name" href="/collections/best-sellers/products/intensive-moisturizer">Eczema Cream Moisturizer</a>
      
    <br>
      <span class="prod-price">
        
      
        
        From $9.99
      
   <div id="yotpo-ratings-product-grid">  
      <div class="yotpo bottomLine yotpo-small" data-appkey="XuSzc9ZFpFwg9u9hrqvF5gG6qBhWn5uXzKiMTSs7" data-domain="exederm-dev.myshopify.com" data-product-id="6210497118399" data-product-models="6210497118399" data-name="Eczema Cream Moisturizer" data-url="https://exederm-dev.myshopify.com/products/intensive-moisturizer" data-image-url="//cdn.shopify.com/s/files/1/0524/5622/7007/products/27_large.jpg%3Fv=1608603688" data-description="<p><span style=&quot;color: #1a1aa6; font-family: monospace; font-size: medium; white-space: pre-wrap;&quot;>Eczema cream moisturizer. Parabens free cream for eczema, dermatitis and very sensitive skin. Healing treatment for eczema. National Eczema Association approved moisturizing cream for atopic eczema, contact dermatitis</span></p>" data-bread-crumbs="best sellers;" style="text-align:center;" data-yotpo-element-id="2"> <div class="yotpo-display-wrapper" style="visibility: hidden;">   <div class="yotpo-clr"></div> </div></div>
    </div>
   <div class="add-to-cart">
  <form action="/cart/add" method="post" id="product-form" class="quickAdd" enctype="multipart/form-data">
			
		    
			<div id="product-variants" class="" style="display:none;">
		       <select id="product-select" name="id" class="hidden">
		       
		         <option selected="selected" data-sku="2002" value="37836008161471">4oz Jar - $9.99</option>
		       
		         <option data-sku="2009" value="37836008194239">8oz Tube - $16.99</option>
		       
		       </select>
		    </div>
            <input type="submit" value="Add to Cart" id="add" class="btn add-to-cart">
      		</form> 
        </div>
  </span></div>
</div>


<div id="product-grid-box" class="grid__item large--one-quarter medium--one-half" style="margin-bottom:20px;">
  
  <a href="/collections/best-sellers/products/eczema-lotion" class="grid__image">
    <img src="//cdn.shopify.com/s/files/1/0524/5622/7007/products/24_large.jpg?v=1608603693" alt="Eczema Lotion" style="max-height:180px;">
  </a>

  <div id="product-grid" class="h6" style="text-align:center;">
   <a class="prod-name" href="/collections/best-sellers/products/eczema-lotion">Eczema Lotion</a>
      
    <br>
      <span class="prod-price">
        
      
        $12.99
      
   <div id="yotpo-ratings-product-grid">  
      <div class="yotpo bottomLine yotpo-small" data-appkey="XuSzc9ZFpFwg9u9hrqvF5gG6qBhWn5uXzKiMTSs7" data-domain="exederm-dev.myshopify.com" data-product-id="6210497315007" data-product-models="6210497315007" data-name="Eczema Lotion" data-url="https://exederm-dev.myshopify.com/products/eczema-lotion" data-image-url="//cdn.shopify.com/s/files/1/0524/5622/7007/products/24_large.jpg%3Fv=1608603693" data-description="<p><span style=&quot;color: #1a1aa6; font-family: monospace; font-size: medium; white-space: pre-wrap;&quot;>Eczema lotion moisturizer. Parabens free lotion for eczema, dermatitis and very sensitive skin. Healing lotion treatment for eczema. National Eczema Association approved moisturizing lotion for atopic eczema, contact dermatitis</span></p>" data-bread-crumbs="best sellers;recommended;" style="text-align:center;" data-yotpo-element-id="3"> <div class="yotpo-display-wrapper" style="visibility: hidden;">   <div class="yotpo-clr"></div> </div></div>
    </div>
   <div class="add-to-cart">
  <form action="/cart/add" method="post" id="product-form" class="quickAdd" enctype="multipart/form-data">
			
		    
			<div id="product-variants" class=" hidden" style="display:none;">
		       <select id="product-select" name="id" class="hidden">
		       
		         <option selected="selected" data-sku="2003" value="37836009603263">Default Title - $12.99</option>
		       
		       </select>
		    </div>
            <input type="submit" value="Sold Out" id="add" class="btn add-to-cart disabled" disabled="disabled" style="color:#bbbbbb!important; opacity: 0.5;">
      		</form> 
        </div>
  </span></div>
</div>

<div id="product-grid-box" class="grid__item large--one-quarter medium--one-half" style="margin-bottom:20px;">

  
  <a href="/collections/best-sellers/products/baby-eczema-wash" class="grid__image">
    <img src="//cdn.shopify.com/s/files/1/0524/5622/7007/products/21_large.jpg?v=1608603677" alt="Baby Eczema Wash" style="max-height:180px;">
  </a>

  <div id="product-grid" class="h6" style="text-align:center;">
   <a class="prod-name" href="/collections/best-sellers/products/baby-eczema-wash">Baby Eczema Wash</a>
      
    <br>
      <span class="prod-price">
        
      
        $11.99
      
   <div id="yotpo-ratings-product-grid">  
      <div class="yotpo bottomLine yotpo-small" data-appkey="XuSzc9ZFpFwg9u9hrqvF5gG6qBhWn5uXzKiMTSs7" data-domain="exederm-dev.myshopify.com" data-product-id="6210496823487" data-product-models="6210496823487" data-name="Baby Eczema Wash" data-url="https://exederm-dev.myshopify.com/products/baby-eczema-wash" data-image-url="//cdn.shopify.com/s/files/1/0524/5622/7007/products/21_large.jpg%3Fv=1608603677" data-description="<p><span style=&quot;color: #1a1aa6; font-family: monospace; font-size: medium; white-space: pre-wrap;&quot;>Eczema baby wash. Parabens free baby wash for eczema, dermatitis and very sensitive skin. Baby bath wash for infant eczema. National Eczema Association approved baby wash for atopic eczema, infant dermatitis</span></p>" data-bread-crumbs="best sellers;recommended;" style="text-align:center;" data-yotpo-element-id="4"> <div class="yotpo-display-wrapper" style="visibility: hidden;">   <div class="yotpo-clr"></div> </div></div>
    </div>
     <div class="add-to-cart">
  <form action="/cart/add" method="post" id="product-form" class="quickAdd" enctype="multipart/form-data">
			
		    
			<div id="product-variants" class=" hidden" style="display:none;">
		       <select id="product-select" name="id" class="hidden">
		       
		         <option selected="selected" data-sku="1003" value="37836007833791">Default Title - $11.99</option>
		       
		       </select>
		    </div>
    
            <input type="submit" value="Add to Cart" id="add" class="btn add-to-cart">            

      		</form>     
   <div class="add-to-cart">
  </span></div>
</div>


      

    </div>

