<section class="{{ section.settings.margin }}">
    <div class="tw-container tw-px-5 md:tw-px-10 2xl:tw-px-0 tw-mx-auto xl:tw-max-w-1336px">
        <div class="tw-text-22px/28px tw-mb-7 tw-font-semibold tw-text-center tw-border-b tw-leading-em">
            <span class="tw-px-3 tw-bg-white">{{ section.settings.heading }}&nbsp;<span>
        </div> 

        <div class="tw-mt-16 xl:tw-max-w-1336px tw-block tw-py-0 
        sm:tw-grid sm:tw-grid-cols-2 sm:tw-justify-items-center
        lg:tw-grid-cols-4"> 
            {% for block in section.blocks %}
            {% assign product = all_products[block.settings.product] %}  
            {% include 'product-card' %}
            {% endfor %}  
      </div>
    </div>
</section>

{% schema %}
  {
    "name": "Featured Products",
    "settings": [
   {
       "type": "text",
       "id": "heading",
       "label": "Product list title"
   },
   {
       "type": "text",
       "id": "margins",
       "label": "Margin Class"
   }
    ],
    "blocks": [
    {
      "type": "product",
      "name": "Product list",
      "settings": [
      {
        "id": "product",
        "type": "product",
        "label": "Product"
      }
      ]
    }
    ],
    "presets": [
      {
        "name": "Featured Products",
        "category": "Product page"
      }
    ]
  }
{% endschema %}