<!--/other-top-rated-products.liquid-->



<div class="grid-uniform">
<div id="product-grid-box" class="grid__item large--one-quarter medium--one-half" style="margin-bottom:20px;">  
  <a href="/collections/other-top-rated-items/products/intensive-moisturizer" class="grid__image">
    <img src="//cdn.shopify.com/s/files/1/0524/5622/7007/products/27_large.jpg?v=1608603688" alt="Eczema Cream Moisturizer" style="max-height:180px;">
  </a>
  <div id="product-grid" class="h6" style="text-align:center;">
   <a class="prod-name" href="/collections/other-top-rated-items/products/intensive-moisturizer">Eczema Cream Moisturizer</a>
     <br>
      <span class="prod-price">
        From $9.99
   <div id="yotpo-ratings-product-grid">  
      <div class="yotpo bottomLine yotpo-small" data-appkey="XuSzc9ZFpFwg9u9hrqvF5gG6qBhWn5uXzKiMTSs7" data-domain="exederm-dev.myshopify.com" data-product-id="6210497118399" data-product-models="6210497118399" data-name="Eczema Cream Moisturizer" data-url="https://exederm-dev.myshopify.com/products/intensive-moisturizer" data-image-url="//cdn.shopify.com/s/files/1/0524/5622/7007/products/27_large.jpg%3Fv=1608603688" data-description="<p><span style=&quot;color: #1a1aa6; font-family: monospace; font-size: medium; white-space: pre-wrap;&quot;>Eczema cream moisturizer. Parabens free cream for eczema, dermatitis and very sensitive skin. Healing treatment for eczema. National Eczema Association approved moisturizing cream for atopic eczema, contact dermatitis</span></p>" data-bread-crumbs="" style="text-align:center;" data-yotpo-element-id="1"> <div class="yotpo-display-wrapper" style="visibility: hidden;">   <div class="yotpo-clr"></div> </div></div>
    </div>
    <div class="add-to-cart">
  <form action="/cart/add" method="post" id="product-form" class="quickAdd" enctype="multipart/form-data">
				<div id="product-variants" class="" style="display:none;">
		       <select id="product-select" name="id" class="hidden">       
		         <option selected="selected" data-sku="2002" value="37836008161471">4oz Jar - $9.99</option>       
		         <option data-sku="2009" value="37836008194239">8oz Tube - $16.99</option>	       
		       </select>
		    </div>
            <input type="submit" value="Add to Cart" id="add" class="btn add-to-cart">
        		</form> 
        </div>
  </span></div>
</div>

<div id="product-grid-box" class="grid__item large--one-quarter medium--one-half" style="margin-bottom:20px;">
  <a href="/collections/other-top-rated-items/products/eczema-lotion" class="grid__image">
    <img src="//cdn.shopify.com/s/files/1/0524/5622/7007/products/24_large.jpg?v=1608603693" alt="Eczema Lotion" style="max-height:180px;">
  </a>
  <div id="product-grid" class="h6" style="text-align:center;">
   <a class="prod-name" href="/collections/other-top-rated-items/products/eczema-lotion">Eczema Lotion</a>
     <br>
      <span class="prod-price">
        $12.99
   <div id="yotpo-ratings-product-grid">  
      <div class="yotpo bottomLine yotpo-small" data-appkey="XuSzc9ZFpFwg9u9hrqvF5gG6qBhWn5uXzKiMTSs7" data-domain="exederm-dev.myshopify.com" data-product-id="6210497315007" data-product-models="6210497315007" data-name="Eczema Lotion" data-url="https://exederm-dev.myshopify.com/products/eczema-lotion" data-image-url="//cdn.shopify.com/s/files/1/0524/5622/7007/products/24_large.jpg%3Fv=1608603693" data-description="<p><span style=&quot;color: #1a1aa6; font-family: monospace; font-size: medium; white-space: pre-wrap;&quot;>Eczema lotion moisturizer. Parabens free lotion for eczema, dermatitis and very sensitive skin. Healing lotion treatment for eczema. National Eczema Association approved moisturizing lotion for atopic eczema, contact dermatitis</span></p>" data-bread-crumbs="recommended;" style="text-align:center;" data-yotpo-element-id="2"> <div class="yotpo-display-wrapper" style="visibility: hidden;">   <div class="yotpo-clr"></div> </div></div>
    </div>
    <div class="add-to-cart">
  <form action="/cart/add" method="post" id="product-form" class="quickAdd" enctype="multipart/form-data"> 
			<div id="product-variants" class=" hidden" style="display:none;">
		       <select id="product-select" name="id" class="hidden">	       
		         <option selected="selected" data-sku="2003" value="37836009603263">Default Title - $12.99</option>		       
		       </select>
		    </div>           
            <input type="submit" value="Sold Out" id="add" class="btn add-to-cart disabled" disabled="disabled" style="color:#bbbbbb!important; opacity: 0.5;">
      		</form>   
        </div>
  </span></div>
</div>

<div id="product-grid-box" class="grid__item large--one-quarter medium--one-half" style="margin-bottom:20px;">

  <a href="/collections/other-top-rated-items/products/eczema-wash" class="grid__image">
    <img src="//cdn.shopify.com/s/files/1/0524/5622/7007/products/23_large.jpg?v=1608603705" alt="Eczema Wash" style="max-height:180px;">
  </a>
  <div id="product-grid" class="h6" style="text-align:center;">
   <a class="prod-name" href="/collections/other-top-rated-items/products/eczema-wash">Eczema Wash</a>     
    <br>
      <span class="prod-price">      
        From $12.99      
   <div id="yotpo-ratings-product-grid">  
      <div class="yotpo bottomLine yotpo-small" data-appkey="XuSzc9ZFpFwg9u9hrqvF5gG6qBhWn5uXzKiMTSs7" data-domain="exederm-dev.myshopify.com" data-product-id="6210497642687" data-product-models="6210497642687" data-name="Eczema Wash" data-url="https://exederm-dev.myshopify.com/products/eczema-wash" data-image-url="//cdn.shopify.com/s/files/1/0524/5622/7007/products/23_large.jpg%3Fv=1608603705" data-description="<p><span style=&quot;color: #1a1aa6; font-family: monospace; font-size: medium; white-space: pre-wrap;&quot;>Eczema body wash. Parabens free wash for eczema, dermatitis and very sensitive skin. Hand wash and body wash for eczema. National Eczema Association approved body wash for atopic eczema, contact dermatitis</span></p>" data-bread-crumbs="" style="text-align:center;" data-yotpo-element-id="3"> <div class="yotpo-display-wrapper" style="visibility: hidden;">   <div class="yotpo-clr"></div> </div></div>
    </div>
    <div class="add-to-cart">
  <form action="/cart/add" method="post" id="product-form" class="quickAdd" enctype="multipart/form-data">				    
			<div id="product-variants" class="" style="display:none;">
		       <select id="product-select" name="id" class="hidden">
		         <option selected="selected" data-sku="2004" value="37836010225855">8 oz. - $12.99</option>
		         <option data-sku="2015" value="37836010258623">12 oz. - $16.99</option>
		       </select>
		    </div>
            <input type="submit" value="Add to Cart" id="add" class="btn add-to-cart">
        </form> 
        </div>
    </span>
  </div>
</div>

<div id="product-grid-box" class="grid__item large--one-quarter medium--one-half" style="margin-bottom:20px;"> 
  <a href="/collections/other-top-rated-items/products/eczema-conditioner" class="grid__image">
    <img src="//cdn.shopify.com/s/files/1/0524/5622/7007/products/26_large.jpg?v=1608603682" alt="Eczema Conditioner" style="max-height:180px;">
  </a>
  <div id="product-grid" class="h6" style="text-align:center;">
   <a class="prod-name" href="/collections/other-top-rated-items/products/eczema-conditioner">Eczema Conditioner</a>      
    <br>
      <span class="prod-price">              
        $12.99     
   <div id="yotpo-ratings-product-grid">  
      <div class="yotpo bottomLine yotpo-small" data-appkey="XuSzc9ZFpFwg9u9hrqvF5gG6qBhWn5uXzKiMTSs7" data-domain="exederm-dev.myshopify.com" data-product-id="6210496921791" data-product-models="6210496921791" data-name="Eczema Conditioner" data-url="https://exederm-dev.myshopify.com/products/eczema-conditioner" data-image-url="//cdn.shopify.com/s/files/1/0524/5622/7007/products/26_large.jpg%3Fv=1608603682" data-description="<p><span style=&quot;color: #1a1aa6; font-family: monospace; font-size: medium; white-space: pre-wrap;&quot;>850348002057 Eczema hair conditioner. Ideal hair conditioner for seborrheic dermatitis or very sensitive skin and scalp. Parabens free hair conditioner. SLS sulfate free conditioner. National Eczema Association approved conditioner for eczema, seborrheic dermatitis, flaky scalp</span></p>" data-bread-crumbs="recommended;" style="text-align:center;" data-yotpo-element-id="4"> <div class="yotpo-display-wrapper" style="visibility: hidden;">   <div class="yotpo-clr"></div> </div></div>
    </div>
   <div class="add-to-cart">
  <form action="/cart/add" method="post" id="product-form" class="quickAdd" enctype="multipart/form-data">		    
			<div id="product-variants" class=" hidden" style="display:none;">
		       <select id="product-select" name="id" class="hidden">
		         <option selected="selected" data-sku="2006" value="37836007964863">Default Title - $12.99</option>		       
		       </select>
		    </div>           
            <input type="submit" value="Add to Cart" id="add" class="btn add-to-cart">        
      		</form>  
        </div>
  </span></div>
</div>
    </div>