<!-- /templates/index.liquid -->
{% comment %}

This is the homepage of your site.

More info on global variables (available on all templates):
- http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}<div class="homepage-hero-container"> <div class="wrapper-no-adjust">
    <h1>we believe that sensitive
      <br/>
      skin needs special care.</h1>
    <h2>it’s just common sense.</h2>
    <a href="https://exederm.myshopify.com/pages/products" class="btn btn--large btn--secondary">Shop Now
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>
<meta name="google-site-verification" content="kiT8g3axdU1-CT-LemF5yUPAK2DgyB28byufYmpvlhA" />


<main class="wrapper main-content" role="main">

  {% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
  {% endcomment %}<div class="grid-uniform">

    <div class="grid__item large--one-whole homepage-top-coupon large--hide medium-down--show med--center" style="margin-top:30px;">
      <a href="https://exederm.com/pages/coupons"><img src="https://cdn.shopify.com/s/files/1/1211/7332/files/EXE-004_Homepage_MOBILE_v3_05.jpg?10063661842634503010" alt="coupon: $1.00 off ANY exederm product" /></a>
    </div>

    <div class="grid__item large--one-third homepage-babies">
      <a href="https://exederm.myshopify.com/pages/children-babies"><img src="https://cdn.shopify.com/s/files/1/1211/7332/files/EXE-004_Homepage_Revised_v3_03.jpg?9249885069689158433" alt="Eczema care for babies and children - Shop Now" /></a>
    </div>
    <div class="grid__item large--one-third homepage-adults">
      <a href="https://exederm.myshopify.com/pages/adults"><img src="https://cdn.shopify.com/s/files/1/1211/7332/files/adult_eczema.jpg?17181851112805098383" alt="Eczema care for adults - Shop Now" /></a>
    </div>
    <div class="grid__item large--one-third homepage-med">
      <a href="https://exederm.myshopify.com/pages/medical-professional-samples"><img src="https://cdn.shopify.com/s/files/1/1211/7332/files/med_eczema.jpg?17181851112805098383" alt="Eczema care for medical professionals - Learn More" /></a>
    </div>

    <div class="grid__item large--one-whole homepage-top-coupon large--hide medium-down--show med--center" style="margin-top:30px;">
      <a href="https://exederm.myshopify.com/pages/free-exederm-samples"><img src="https://cdn.shopify.com/s/files/1/1211/7332/files/free-samples.jpg?18113530343748662210" alt="Free Samples of Exederm - Sign Up" /></a>
    </div>

  </div>

  <div class="hSpacer twenty-five"></div>

  <div class="grid-uniform home-main-content">

    <div class="grid__item large--two-thirds">
      <div class="header-one">We believe that exederm is a simply sensible approach for anyone with eczema, dermatitis and dry or sensitive skin.</div>
      <p>With exederm it’s possible to gently cleanse, to deeply moisturize and get smoother and healthier skin – without using unneccessary chemicals.</p>
      <ul class="check-list first">
        <li>No Fragrance</li>
        <li>No Parabens</li>
        <li>No Lanolin</li>
        <li>No Propylene Glycol</li>
      </ul>
      <ul class="check-list last">
        <li>No Color or Dyes</li>
        <li>NO (SLS) SODIUM LAURETH SULFATE</li>
        <li>NO (CAPB) COCAMIDOPROPYL BETAINE</li>
        <li>No Phthalates</li>
      </ul>
      <div class="clearfix"></div>

      <div class="hSpacer twenty-five"></div>
      <hr>
      <div class="hSpacer twenty-five"></div>

      <div class="grid__item one-sixth small--hide">
        <img src="https://cdn.shopify.com/s/files/1/1211/7332/files/nea-badge.jpg?11679574105445620494" alt="The badge of the National Eczema Association" />
      </div>
      <div class="grid__item five-sixths small--one-whole small-no-left">
        <b>The National Eczema Association</b>
        has honored exederm children's skin care range with its coveted '<b>Seal of Acceptance</b>' award. In fact, each of our five baby eczema care products scored a maximum 5/5 from the review panel.
        <br/><br/>
        <a href="https://exederm.myshopify.com/pages/faq" class="button-small">Learn More
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
      <div class="clearfix"></div>

      <div class="hSpacer twenty-five"></div>
      <hr>
      <div class="hSpacer twenty-five"></div>
      <div class="homepage-retailers-text">
        <div class="med--center">
          exederm is available at
          <br/>
          <b>These Fine Retailers:</b>
        </div>
        <div class="grid-uniform">
          <div class="grid__item large--one-whole large--show small-down--hide" style="padding-left:0; margin-top:30px;">
            <div
              class="cycle-slideshow"
              data-cycle-speed="1200"
              data-cycle-timeout="1050"
              data-cycle-easing="linear">
              <div class="cycle-prev" tabindex="0"><img src="https://cdn.shopify.com/s/files/1/1211/7332/files/chevron-left.png?56" alt="View previous item in slider" /></div>
              <div class="cycle-next" tabindex="0"><img src="https://cdn.shopify.com/s/files/1/1211/7332/files/chevron-right.png?56" alt="View next item in slider" /></div>
              <img src="https://cdn.shopify.com/s/files/1/1211/7332/files/exe_logos.jpg?14304761377638613569" alt="four store icons: buybuy Baby, Harmon discount health and beauty, ShopRite, and meijer">
              <img src="https://cdn.shopify.com/s/files/1/1211/7332/files/exe_logos2.jpg?14304761377638613569" alt="four store icons: Walgreens, CVS Pharmacy, Rite Aid, Amazon on-line only">
              <img src="https://cdn.shopify.com/s/files/1/1211/7332/files/exe_logos3.jpg?14304761377638613569" alt="four store icons: Target on-line only, drugstore.com on-line only, Martin's, Giant">
              <img src="https://cdn.shopify.com/s/files/1/1211/7332/files/exe_logos4.jpg?14304761377638613569" alt="four store icons: Giant, Stop and Shop, Kinney Drugs, Duane Reade">
              <img src="https://cdn.shopify.com/s/files/1/1211/7332/files/exe_logos5.jpg?14304761377638613569" alt="four store icons: H-E-B, Big Y, Hannaford, HyVee">
            </div>
          </div>
          <div class="grid__item large--one-whole large--hide small-down--show med--center" style="padding-left:0; margin-top: -20px; margin-bottom: -30px;">
            <img src="https://cdn.shopify.com/s/files/1/1211/7332/files/Now-Available-Reel4.gif?8883502842380313460" alt="an animated gif of a wide number of store icons, showing where to buy exederm" />
          </div>
        </div>
      </div>

    </div>
    <div class="grid__item large--one-third homepage-coupon-column med--center medium-down--hide" style="margin-top:30px;">
      <a href="https://exederm.com/pages/coupons"><img src="https://cdn.shopify.com/s/files/1/1211/7332/files/one-dollar-off-coupon.jpg?18113530343748662210" alt="Coupon: $1.00 off ANY Exederm skin care product" /></a>

      <div style="display:none">
        <div
          id="coupondiv"
          class="privy-embed-form"
          data-campaign="64753"></div>
      </div>

      <div class="hSpacer ten"></div>
      <a href="https://exederm.myshopify.com/pages/free-exederm-samples"><img src="https://cdn.shopify.com/s/files/1/1211/7332/files/free-samples.jpg?18113530343748662210" alt="get free samples of exederm - click here" /></a>
    </div>

  </div>

</main>