<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<!-- Swiper Slideshow CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper@6.8.2/swiper-bundle.min.css">

{{ content_for_index }}

   <div class="clearfix"></div> 